input{
    display: block;
    padding: 1rem;
    margin-bottom: 10px;
    width: 25%;
}

.Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}
